{% extends "layout.html" %}

{% block title %}Graduator - Home{% endblock %}

{% block content %}
	<h1>Welcome</h1>

<p>This web-app is designed to help you determine which classes<br>will fulfill the most of your unfinished graduation requirements<br>that you still have to complete.</p>

<p>So far, this app is still in its Alpha stage. It will only help with<br>"Ethnicity" and "American History and Institutions" (AHI)<br> requirements for the College of Letters and Sciences.
<br>More classes will come in the future.</p>

<h3>Please Select Which Requirement(s) You Need:</h3>
<div class="form-check">
	<form action='/results', method='post'>
	<input class="form-check-input" type="checkbox" value="ethno" id="ethno">
	<label class="form-check-label" for="ethno">
    Ethnicity
	</label>
	<input class="form-check-input" type="checkbox" value="ahi" id="ahi">
	<label class="form-check-label" for="ahi">
    American History and Institutions
	</label>
	<input type="submit" value="Submit">
	</form>
</div>

{% endblock %}
